<div class="row">
    <div class="col">
        <img style="height: 80px; width: 190px;" src="../../../assets/kernotec.png" alt="">
    </div>
</div>
<div class="row">
    <div class="col text-end">
        <button class="btn btn-danger" (click)="cerrarSesion();">Cerrar Sesion</button>
    </div>
</div>

<div class="d-flex justify-content-center text-white align-items-center">
    <div class="row">
        <div class="col-8">
            <small>Nombre</small>
            <label for=""> {{datos.name}} </label>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <small>Email</small>
            <label for=""> {{datos.email}} </label>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <small>Telefono</small>
            <label for=""> {{datos.phone}} </label>
        </div>
    </div>

</div>